version: "3.8"

services:
  jenkins:
    build:
      context: ./jenkins
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

  app:
    build:
      context: .
    container_name: emoji-app
    ports:
      - "8080:8080"

volumes:
  jenkins_home:
