version: "3.8"

services:
  jenkins:
    build:
      context: ./jenkins
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./web:/var/www/emojiEncriptor

  web:
    image: nginx:alpine
    container_name: emoji-web
    ports:
      - "8080:80"
    volumes:
      - ./web:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  jenkins_home:
